@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="text-center">
                <h1>Cadastre seu Filme</h1>
                <h2>Listagem de seus Filmes Preferidos</h2>
            </hgroup>
            <p><b><br />Atividade da disciplina de APS II.</b></p>
            <p>
                <b>Aluno: </b> Vinícius R. Martins <br />
                <b>Curso: </b> Ciência da Computação <br />
                <b>Período: </b> 7º <br />
            </p>
               
            
        </div>
    </section>
}
<h3>Este Projeto contempla os Tópicos: </h3>
<ol class="rounded"><br />
    <li class="two">
        <h5>Cadastro de Formulário</h5>
        Cadastro de dados de algum formulário, usando componentes de interface gráfica na view, 
        implementada com base na arquitetura MVC, usando DAO.
     </li><br />

    <li class="three">
        <h5>Implementação de Formulário</h5>
        Implementação de um formulário de persistência usando um framework ORM (Mapeamento Objeto Relacional).
        <a href="https://docs.microsoft.com/pt-br/ef/core/" target="_blank">Utilização do Entity Framework Core </a>
    </li>
</ol>
